body {
  background: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
  font-family: "Ubuntu", sans-serif;
}

form {
  padding: 20px 0;
  line-height: 2;
}
.search {
  border: 0;
  border-radius: 5px;
  width: 250px;
  height: 40px;
}
.button {
  border: 0;
  border-radius: 5px;
  background-color: #106edf;
  color: #fff7df;
  width: 80px;
  height: 40px;
  transition: all 200ms ease-in-out;
}

.button:hover {
  opacity: 0.9;
  cursor: pointer;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  list-style: none;
}

.city {
  font-size: 25px;
}

.temperature {
  font-size: 35px;
}

.units {
  position: relative;
  top: -15px;
  font-size: 15px;
}

.weather-app {
  border: 1px solid #fff7df;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 700px;
}

footer {
  text-align: center;
  font-size: 13px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
